/*Variables*/
:root {
    --color-link: #F27F3A;
    --color-btn: #4A2824;
    --color-text: #1F1F1F;
    --color-white: #FFFFFF;
    --color-title: #702421;
    --color-bg-1: #FEE2D1;
    --color-bg-2: #8E412B;
    --color-bg-3: #702421;
    --font-title: 'Indie Flower';
    --font-text: 'Roboto Condensed';
}

/* VERSION MOBILE 0-767px*/
/****** FOR ALL ******/
* {
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-text), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--color-bg-1);
}
h1, h2, h3 {
    margin-bottom: 0;
    margin-top: 0;
}
h1, h2 {
    font-family: var(--font-title);
}
h1 {
    color: var(--color-white);
    font-size: 60px;
    text-transform: uppercase;
}
h2, h3 {
    color: var(--color-title);
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}
.opacity {
    background: rgba(0, 0, 0, 0.20);
}
.section-title {
    margin-bottom: 30px;
    text-align: center;
}
.section, .section-extraits .content-section {
    padding: 30px 20px;
}
.content-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    width: 100%;
}
a {
    text-decoration: none;
}
.d-none {
    display: none !important;
}

/****** HEADER ******/
/* Nav globale */
.first-nav {
    position: absolute;
    padding: 20px;
    width: 100%;
}
.first-nav .content-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.social-medias.social-medias-header {
    flex-wrap: nowrap;
}
.btn-menu {
    color: var(--color-white);
    font-size: 30px;
}
.btn-menu:hover {
    color: var(--color-link);
}

/* Nav mobile */
.nav-mobile {
    display: none;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 50px;
}
.nav-mobile.nav-mobile-active {
    display: inherit;
}
.nav-mobile ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}
.nav-mobile ul li {
    cursor: pointer;
    background: var(--color-bg-1);
    border: 1px solid var(--color-bg-3);
    border-radius: 20px;
    padding: 6px 12px;
    text-align: center;
    width: 150px;
}
.nav-mobile ul li a {
    color: var(--color-bg-3);
    font-weight: 500;
}
.nav-mobile ul li:hover {
    background: var(--color-bg-3);
    border: 1px solid var(--color-bg-1);
}
.nav-mobile ul li:hover a {
    color: var(--color-bg-1);
}

/* Nav desktop */
.nav-desktop {
    display: none;
}

/****** MAIN ******/
/* Img + title */
.section-presentation, .section-presentation .opacity {
    height: 60dvh;
    width: 100%;
}
.section-presentation {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-presentation .content-section {
    align-items: end;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px;
}

/* Section musiciens */
.big-contain, .musicien-contain, .bloc-infos {
    display: flex;
    flex-direction: column;
}
.big-contain {
    gap: 24px;
}
.musicien-contain, .bloc-infos {
    gap: 10px;
}
.musicien-contain {
    background: var(--color-white);
    border-radius: 20px;
    padding: 12px;
}
.musicien-contain img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

/* Section extraits */
.section-extraits h2 {
    color: var(--color-white);
}
.Carousel-slider {
    height: 400px;
    position: relative;
    width: 100%;
}
.slider-item {
    cursor: pointer;
    display: none;
    position: absolute;
}
.indicators {
    display: none;
}
.slider-item video {
    background: var(--color-text);
    border-radius: 20px;
    height: 360px;
    width: 360px;
}










/****** FOOTER ******/
.section-footer {
    background-color: var(--color-bg-3);
}
.title-group,
.hr-footer,
.social-medias a i,
.contact-and-copy div, .contact-and-copy a,
.cgv-legal-mentions div, .cgv-legal-mentions span {
    color: var(--color-white);
}
.section-footer .content-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.title-group {
    font-family: var(--font-title);
    font-size: 32px;
    padding-top: 30px;
    text-transform: uppercase;
}
.contact-mentions-and-medias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.social-medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.social-medias a i {
    font-size: 24px;
}
.social-medias a i:hover {
    color: var(--color-link);
    transform: scale(1.1);
}
.contact-and-copy {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.little-title-footer {
    font-style: oblique;
}
.contact-and-copy a:hover, .cgv-legal-mentions div:hover {
    color: var(--color-link);
}
.cgv-legal-mentions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}








/* VERSION TABLET VERTICALE 768-1023px*/
@media (min-width: 768px) {
    /****** FOR ALL ******/
    * {
        font-size: 16px;
    }
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 26px;
    }
    .section, .section-extraits .content-section {
        padding: 40px 30px;
    }
    .section-title {
        margin-bottom: 32px;
        text-align: start;
    }

    /****** HEADER ******/
    /* Nav globale */
    .first-nav {
        padding: 30px;
    }
    .btn-menu {
        font-size: 36px;
    }

    /* Nav mobile */
    .nav-mobile {
        padding: 30px;
        top: 55px;
    }
    .nav-mobile ul {
        gap: 8px;
    }
    .nav-mobile ul li {
        padding: 8px 14px;
        width: 170px;
    }

    /****** MAIN ******/
    /* Img + title */
    .section-presentation, .section-presentation .opacity {
        height: 100dvh;
    }
    .section-presentation .content-section {
        padding: 50px;
    }

    /* Section musiciens */
    .musicien-contain:nth-child(odd) {
        flex-direction: row;
    }
    .musicien-contain:nth-child(even) {
        flex-direction: row-reverse;
    }
    .musicien-contain, .bloc-infos {
        gap: 20px;
    }
    .musicien-contain {
        padding: 20px;
    }
    .musicien-contain img {
        height: 330px;
    }






    /****** FOOTER ******/
    .social-medias, .contact-and-copy, .cgv-legal-mentions {
        width: 33%;
    }
    .title-group {
        font-size: 44px;
    }
    .social-medias {
        gap: 20px;
        justify-content: start;
    }
    .social-medias a i {
        font-size: 32px;
    }
    .contact-mentions-and-medias {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px 30px 30px;
    }
    .cgv-legal-mentions {
        flex-direction: column;
        gap: 4px;
        text-align: end;
    }
    .cgv-legal-mentions span {
        display: none;
    }
}







/* VERSION TABLET HORIZONTALE 1024-1219px*/
@media (min-width: 1024px) {
    /****** FOR ALL ******/
    h1 {
        font-size: 82px;
    }
    h2 {
        font-size: 58px;
    }
    h3 {
        font-size: 28px;
    }
    .section, .section-extraits .content-section {
        padding: 48px 40px;
    }

    /****** HEADER ******/
    /* Nav globale */
    .first-nav {
        padding: 40px 60px;
    }
    .social-medias {
        justify-content: end;
    }

    /* Nav mobile */
    .navbar-toggler {
        display: none;
    }

    /* Nav desktop */
    .nav-desktop {
        display: inherit;
    }
    .nav-desktop ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
    }
    .nav-desktop ul li a {
        color: var(--color-white);
        font-size: 18px;
        position: relative;
        text-transform: uppercase;
    }
    .nav-desktop ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1.5px;
        background-color: var(--color-white);
        transition: width 0.3s ease-in-out;
    }  
    .nav-desktop ul li a:hover::after,
    .nav-desktop ul li a:focus::after {
        width: 100%;
    }

    /****** MAIN ******/
    /* Section musiciens */
    .big-contain {
        gap: 32px;
    }
    .musicien-contain img {
        height: 350px;
    }







    /****** FOOTER ******/
    .section-footer .content-section {
        gap: 40px;
    }
    .title-group {
        font-size: 48px;
        padding-top: 40px;
    }
    .contact-mentions-and-medias {
        padding: 0 40px 40px 40px;
    }
}












/* VERSION COMPUTER 1220-infini px*/
@media (min-width: 1220px) {
    /****** FOR ALL ******/
    h1 {
        font-size: 94px;
    }
    h2 {
        font-size: 62px;
    }
    h3 {
        font-size: 32px;
    }
    .section, .section-extraits .content-section {
        padding: 52px 46px;
    }

    /****** HEADER ******/
    /* Nav desktop */
    .nav-desktop ul {
        gap: 40px;
    }
    .nav-desktop ul li a {
        font-size: 22px;
    }

    /****** MAIN ******/
    /* Section musiciens */
    .musicien-contain img {
        height: 380px;
    }





    /****** FOOTER ******/
}